{% extends 'base.html.twig' %}

{% block title %}New PrestationClient{% endblock %}

{% block body %}
    <h1>Create new PrestationClient</h1>

    {{ include('prestation_client/_form.html.twig') }}

    <a href="{{ path('prestation_client_index') }}">back to list</a>
{% endblock %}