{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block main %}
<br>
<br>
      <div class="row">
    <div class="col-lg-2">
      
    </div>
    <div class="col-lg-5" id="idconnexion">
      <h2 id="idconnexion1" >Connexion</h2>
      <form action ="{{ path('connexion') }}" method="post">
      
  <div class="form-group" >
    <label for="exampleInputEmail1"  >Adresse mail</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre adresse mail">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group" >
    <label for="exampleInputPassword1" >Mot de passe</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Entrez votre mot de passe">
  </div>
  <p>mot de passe oublié ? <p><br>
  <a href="/recherche/adresse"><button type="button" class="btn btn-secondary btn-lg" id="idconnexion1" >Se connecter</button></a>
</form>
    </div>
    <div class="col-lg-5">
     
    </div>
  </div>
</div>
{% endblock %}