@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Nobile');

/*base.html.twig*/

nav {
    background-color: black;
    height: 10vh;
}

body {
    background-image: url("../img/fond.jpg");
    background-size: cover;
}

.btn-outline-primary {
    border-color: white;
}

main {
    height: 85vh;
}

footer {
    height: 5vh;
    color: white;
    line-height: 5vh;
    font-family: 'Bad Script', sans-serif;
}

button {
    font-family: 'Nobile', sans-serif;
}

input {
    border-radius: 5px;
}

.bouton_coiffeur {
    padding: 0;
}

.bouton_client {
    text-align: right;
    padding: 0;
}

.col-sm-1 {
    width: 10%;
}

a {
    text-decoration: none;
    color: white;
    line-height: 10vh;
    font-family: 'Bad Script', sans-serif;
}

a:hover {
    text-decoration: none;
    line-height: 10vh;
    color: white;
    font-family: 'Bad Script', sans-serif;
}

img {
    line-height: 10vh;
    height: 10vh;
}

#nom_site_debut {
    line-height: 10vh;
    font-family: 'Bad Script', sans-serif;
    color: white;
    font-size: medium;
    text-align: right;
}

#nom_site_fin {
    line-height: 10vh;
    font-family: 'Bad Script', sans-serif;
    color: white;
    font-size: medium;
}

#padding_nom_debut {
    padding: 0;
}

#padding_nom_fin {
    padding: 0;
}

#style_client {
    text-align: right;
}

.col-4 {
    flex: 0 0 28%;
    text-align: center;
}

@media screen and (min-width: 1180px) {
    #nom_site_debut {
        font-size: xx-large;
        text-align: right;
    }
    #nom_site_fin {
        font-size: xx-large;
    }
}

@media screen and (max-width: 575px) {
    img {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        font-size: 9px;
    }
}

@media screen and (max-width: 300px) {
    .footer {
        box-sizing: none;
    }
}

@media screen and (max-width: 470px) {
    .row {
        flex-wrap: nowrap;
    }
}


/* accueil.html.twig */

h1 {
    font-family: 'Bad Script', sans-serif;
    margin-top: 10vh;
    padding-bottom: 5vh;
}

#choix_accueil {
    text-align: center;
    margin-top: 10vh;
}

@media screen and (max-width: 575px) {
    #trouver_coiffeur_domicile {
        font-size: small;
        font-family: 'Nobile', sans-serif;
    }
    #rechercher_salon {
        font-size: small;
        font-family: 'Nobile', sans-serif;
    }
    h1 {
        font-size: xx-large;
    }
}

@media screen and (min-width: 1180px) {
    #choix_accueil {
        margin-right: 50vh;
    }
}


/* adresse.html.twig */

#bandeau {
    background-color: grey;
    color: white;
    height: 5%;
    text-align: center;
    font-family: 'Nobile', sans-serif;
    padding-top: 5px;
    font-size: small;
}

#adresse {
    text-align: center;
    margin-top: 2%;
}

#perimetre {
    text-align: center;
    margin-bottom: 2%;
    padding-top: 2%;
}

#map {
    border: solid;
    height: 38%;
    text-align: center;
    margin: 2% 5% 0 5%;
}

#icone_localisation {
    width: 5%;
    height: 5%;
    margin-bottom: 1%;
}

#icone_radar {
    width: 5%;
    height: 5%;
    padding-right: 1%;
    margin-bottom: 1%;
}

.bouton_suivant {
    text-align: center;
}

#etapes {
    line-height: 5%;
}

#retour {
    position: absolute;
}

#fleche {
    width: 5%;
}

@media screen and (min-width: 1180px) {
    #adresse {
        margin-right: 60vh;
        margin-left: 20vh;
    }
    #perimetre {
        margin-right: 60vh;
        margin-left: 20vh;
    }
    .bouton_suivant {
        margin-right: 50vh;
    }
    #map {
        margin-right: 30vh;
        margin-left: 20vh;
        width: 60%;
        height: 35%;
    }
}

@media screen and (min-width: 575px) {
    #bandeau {
        font-size: large;
    }
}


/* personne.html.twig */

#choix_personne {
    height: 30%;
    text-align: center;
    padding-top: 5%;
    margin-left: 5vh;
}

h5 {
    font-family: 'Bad Script', sans-serif;
    margin-top: 2%;
}

#heure {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

#personne {
    margin-bottom: 3%;
}

#type_cheveux {
    margin-bottom: 3%;
}

.bouton_rechercher {
    text-align: center;
    padding-top: 10vh;
}

#add {
    height: 5vh;
}

#plus {
    margin-left: 10vh;
    margin-top: 1%;
    width: 200px;
}

#ajouter_personne {
    text-align: center;
}

#moins1 {
    margin-top: 2%;
}

@media only screen and (max-width: 1050px) and (min-width: 760px) {
    .bouton_rechercher {
        margin-right: 20vh;
        padding-top: 17vh;
    }
}

@media screen and (min-width: 1050px) {
    #choix_personne {
        margin-right: 50vh;
        margin-left: 10vh;
    }
    .bouton_rechercher {
        margin-right: 50vh;
        padding-top: 17vh;
    }
    #ajouter_personne {
        margin-right: 50vh;
    }
    #form_personne {
        margin-right: 20vh;
    }
}


/* prestation.html.twig */

#titre_prestation {
    text-align: center;
}

#liste_prestations {
    text-align: center;
}

.bouton_valider {
    text-align: center;
    padding-top: 25vh;
}

@media screen and (min-width: 1050px) {
    #titre_prestation {
        margin-right: 50vh;
    }
    #liste_prestations {
        margin-right: 50vh;
    }
    .bouton_valider {
        margin-right: 50vh;
    }
}


/* resultats.html.twig */

#map_resultats {
    border: solid;
    height: 250px;
    text-align: center;
    margin: 0 5% 0 5%;
    margin-top: 2%;
}

#header_resultats {
    background-color: black;
    height: 10%;
}

#main_resultats {
    height: 85%;
}

#footer_resultats {
    height: 5%;
    color: white;
    line-height: 5vh;
    font-family: 'Bad Script', sans-serif;
}

#titre_resultats {
    text-align: center;
    margin-top: 2%;
    padding-bottom: 0;
}

#aucun_resultat {
    text-align: center;
}

#tri {
    margin-top: 2%;
    margin-left: 5%;
}

h4 {
    font-family: 'Bad Script', sans-serif;
}

#description_resultats {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: grey;
    color: white;
    font-family: 'Nobile', sans-serif;
}

#bouton_infos {
    font-size: x-small;
    margin-top: 25%;
    font-family: 'Nobile', sans-serif;
    padding-right: 20%;
    padding-left: 5%;
}

#a_bouton_infos {
    line-height: 4vh;
}

#bouton_reserver {
    font-size: x-small;
    margin-bottom: 25%;
    font-family: 'Nobile', sans-serif;
    padding-right: 20%;
    padding-left: 5%;
}

#a_bouton_reserver {
    line-height: 4vh;
}

@media screen and (min-width: 1180px) {
    #map_resultats {
        margin-right: 60vh;
    }
    #titre_resultats {
        margin-right: 50vh;
    }
    #aucun_resultat {
        margin-right: 50vh;
    }
    #tri_categorie {
        margin-right: 50vh;
    }
    #description_resultats {
        margin-right: 60vh;
    }
    #bouton_infos {
        font-size: medium;
    }
    #bouton_reserver {
        font-size: medium;
    }
}


/* salon.html.twig */

#div_photo {
    border: solid;
    margin-left: 5%;
    margin-right: 5%;
    height: 20%;
}

#photo_salon {
    width: 100%;
    height: 100%;
}

#map_infos {
    height: 250px;
    border: solid;
    text-align: center;
    margin: 0 5% 0 5%;
}

#prestations_proposees {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(236, 219, 219);
    color: black;
    font-family: 'Nobile', sans-serif;
}

@media screen and (min-width: 1180px) {
    #div_photo {
        margin-right: 60vh;
    }
    #map_infos {
        margin-right: 60vh;
    }
    #prestations_proposees {
        margin-right: 60vh;
    }
}


/* reservation.html.twig */

#staticEmail2 {
    text-align: center;
}

#idreservation {
    width: 80%;
    margin: 0px 50px;
}

#choix {
    text-align: center;
    margin-top: 10vh;
}

@media screen and (min-width: 1180px) {
    #choix {
        margin-right: 40vh;
        margin-left: 10vh;
    }
}


/* confirmation.html.twig */

#confirmation {
    text-align: center;
}

#confirmation2 {
    background-color: #dededa;
}

.card-text {
    font-size: small;
}

@media screen and (max-width: 1180px) {
    .card-text {
        font-size: small;
    }
    .card-title {
        font-size: large;
    }
}


/* connexion.html.twig */

#idconnexion {
    text-align: center;
    margin-top: 100px;
}

#idconnexion1 {
    text-align: center;
    margin-bottom: 40px;
}


/* inscription.html.twig */

#maili {
    text-align: center;
    margin-bottom: 2%;
}

#form1 {
    margin-top: 490px;
    text-align: center;
}

#user {
    width: 74%;
}

#btni {
    text-align: center;
}

#titre_creer_compte {
    margin-top: 2vh;
    padding-bottom: 0;
}

@media screen and (max-width: 1140px) {
    #user {
        width: 100%;
    }
}

@media screen and (max-width: 1140px) {
    #form2 {
        width: 100%;
    }
}

@media screen and (min-width: 1180px) {
    #btni {
        margin-right: 35vh;
    }
}


/* compte.html.twig */

#titre_compte_client {
    margin-top: 2vh;
    padding-bottom: 0;
}

@media screen and (max-width: 1140px) {
    #inputcompte {
        width: 500px;
        font-size: x-large;
    }
}

#inputcompte {
    width: 300px;
}

#bouttoncompte {
    height: 38px;
    margin-bottom: 9px;
    font-size: 16px;
}

#staticEmail2 {
    font-size: 20px;
}


/* a_domicile/adresse.html.twig */

#adresse_domicile {
    text-align: center;
    line-height: 50vh;
}

@media screen and (min-width: 1180px) {
    #adresse_domicile {
        margin-right: 50vh;
    }
}


/* a_domicile/coiffeurs_disponibles.html.twig */

#description_coiffeurs_disponibles {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    background-color: grey;
    color: white;
    font-family: 'Nobile', sans-serif;
}

#bouton_reserver_domicile {
    font-size: x-small;
    font-family: 'Nobile', sans-serif;
}

@media screen and (min-width: 1180px) {
    #bouton_reserver_domicile {
        font-size: medium;
        margin-bottom: 2%;
    }
    #description_coiffeurs_disponibles {
        margin-right: 70vh;
    }
}