{% extends 'base.html.twig' %}

{% block main %}
    <div id="bandeau"><strong>Lieu</strong> / Heure, Personne et Prestation(s)</div>

    <span id="retour">
        <a href="/accueil"><img src="{{asset('img/fleche.png')}}" id="fleche"></a>
    </span>

    <div id="adresse">
        <img src="{{asset('img/localisation.png')}}" id="icone_localisation"><input type="text" placeholder="Adresse" name="adresse" id="input_adresse">
    </div>
    <br>
    <div id="perimetre">
        <img src="{{asset('img/radar.png')}}" id="icone_radar"><input type="text" placeholder="Périmètre" name="perimetre">
    </div>
    <div id="map">
        <p>Map<p>
    </div>
    <div class="bouton_suivant">
        <a href="/recherche/personne"><button type="button" class="btn btn-secondary btn-lg" id="rechercher_salon">Suivant</button></a>
    </div>
{% endblock %}