{% extends 'base.html.twig' %}

{% block title %}Recherche adresse{% endblock %}
{% block main %}
<main>
    <div id="adresse">
        <input type="text" placeholder="Adresse" name="adresse">
    </div>
    <div id="perimetre">
        <input type="text" placeholder="Adresse" name="perimetre">
    </div>
</main>
{% endblock %}