{% extends 'base.html.twig' %}

{% block main %}

<form action="" method="POST" >

    {{ form_row(form1.) }}
    
    <button class="btn">{{ button_label|default('Save') }}</button>
</form>

{% endblock %}
