{% extends 'base.html.twig' %}

{% block main %}

    <div id="bandeau">Lieu / <strong>Heure, Personne et Prestation(s)</strong></div>

    <span id="retour">
        <a href="/recherche/adresse"><img src="{{asset('img/fleche.png')}}" id="fleche"></a>
    </span>

    <div id="choix_prestation">
        <form method="" action="" class="row">
            <div id="heure" class="col-sm-12 col-md-2">
                <h5 id="titre_heure">Heure :</h5>
                <input type="time" id="appt-time" name="appt-time" min="9:00" max="18:00" required />
            </div>
            <div id="personne" class="col-sm-12 col-md-2">
                <h5>Personne :</h5>
                <select class=form-control>
                    <option value=un>Homme</option>
                    <option value=deux>Femme</option>
                    <option value=trois>Enfant</option>
                </select>
            </div>
            <div id="type_cheveux" class="col-sm-12 col-md-3">
                <h5>Type de cheveux :</h5>
                <select class=form-control>
                    <option value=un>Courts</option>
                    <option value=deux>Longs</option>
                </select>
            </div>
            <div id="prestation" class="col-sm-12 col-md-5">
                <h5>Prestation(s) :</h5>
                <select class=form-control>
                    <option value=un>Catégorie 1</option>
                    <option value=deux>Catégorie 2</option>
                </select>
            </div>
        </form>
    </div>


    <div class="bouton_rechercher">
        <a href="/recherche/resultats"><button type="button" class="btn btn-secondary btn-lg" id="bouton_suivant">Rechercher</button></a>
    </div>
{% endblock %}