{% extends 'base.html.twig' %}

{% block main %}
    <div id="bandeau">Lieu / <strong>Nb personnes, Heure et Prestations</strong></div>

    <span id="retour">
        <a href="/recherche/personne"><img src="{{asset('img/fleche.png')}}" id="fleche"></a>
    </span>
{% endblock %}