{% extends 'base.html.twig' %}

{% block title %}Prestation{% endblock %}
{% block main %}

    <div id="bandeau">Lieu / <strong>Heure, Personne et Prestation(s)</strong></div>

    <span id="retour">
        <a href="{{ path('personne') }}"><img src="{{asset('img/fleche.png')}}" id="fleche"></a>
    </span>

    <div id="choix_prestation">
        <h1 id="titre_prestation">Liste des prestations disponibles :</h1>
        <div id="liste_prestations">
            <div class="checkbox">
                <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">Option 2</label>
            </div>
            <div class="checkbox disabled">
                <label><input type="checkbox" value="" disabled>Option 3</label>
            </div>
        </div>
    </div>
    <div class="bouton_valider">
        <a href="{{ path('personne') }}"><button type="button" class="btn btn-secondary btn-lg" id="bouton_suivant">Valider</button></a>
    </div>
{% endblock %}