{% extends 'base.html.twig' %}

{% block title %}Adresse domicile{% endblock %}
{% block main %}
    <div id="bandeau"><strong>Adresse</strong> / Heure, Personne et Prestation(s)</div>

    <span id="retour">
        <a href="{{ path('accueil') }}"><img src="{{asset('img/fleche.png')}}" id="fleche"></a>
    </span>

    <div id="adresse_domicile">
        <a href="#" data-toggle="tooltip" title="Cliquer pour se géolocaliser"><img src="{{asset('img/localisation.png')}}" id="icone_localisation"></a><input type="text" placeholder="Adresse" name="adresse" id="input_adresse">
    </div>
    <div class="bouton_suivant">
        <a href="{{ path('personne_domicile') }}"><button type="button" class="btn btn-secondary btn-lg">Suivant</button></a>
    </div>
{% endblock %}