{% extends 'base.html.twig' %}

{% block title %}Prestation domicile{% endblock %}
{% block main %}

    <div id="bandeau">Adresse / <strong>Heure, Personne et Prestation(s)</strong></div>

    <span id="retour">
        <a href="{{ path('personne_domicile') }}"><img src="{{asset('img/fleche.png')}}" id="fleche"></a>
    </span>

    <div id="choix_prestation">
        <h1 id="titre_prestation">Liste des prestations disponibles :</h1>
        <div id="liste_prestations">
            <div class="checkbox">
                <label><input type="checkbox" value="">Coupe homme</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">Coupe femme</label>
            </div>
            <div class="checkbox disabled">
                <label><input type="checkbox" value="" disabled>Coupe enfant</label>
            </div>
        </div>
    </div>
    <div class="bouton_valider">
        <a href="{{ path('personne_domicile') }}"><button type="button" class="btn btn-secondary btn-lg" id="bouton_suivant">Valider</button></a>
    </div>
{% endblock %}