{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block main %}
<br>
<br>
    <div id="choix">
        <h1>Réservez votre coiffeur aujourd'hui</h1>
        <div>
            <button type="button" class="btn btn-secondary btn-lg" id="trouver_coiffeur_domicile">Trouver un coiffeur à domicile</button>
        </div>
        <div>
            <a href="{{ path('adresse') }}"><button type="button" class="btn btn-secondary btn-lg" id="rechercher_salon">Rechercher un salon</button></a>
        </div>
    </div>
{% endblock %}