{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block main %}
<br>
<br>
    <div id="choix">
        <h1>Réservez votre coiffeur aujourd'hui</h1>
        <div id="trouver_coiffeur_domicile">
            <button type="button" class="btn btn-secondary btn-lg">Trouver un coiffeur à domicile</button>
        </div>
        <div id="rechercher_salon">
            <a href="/recherche/adresse"><button type="button" class="btn btn-secondary btn-lg">Rechercher un salon</button></a>
        </div>
    </div>
{% endblock %}