<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        {% endblock %}
        <link href="{{asset('css/style.css')}}" rel="stylesheet">
    </head>
    <body class="container-fluid">
        <header class="row">
            {% block header %}
                <div class="col-2 bouton_coiffeur">
                    <button type="button" class="btn btn-outline-primary" id="coiffeur">Coiffeur</button>
                </div>
                <nav class="col-1">
                    <a href="/accueil">Accueil</a>
                </nav>
                <div class="offset-2 col-1 logo">
                    <img src="{{asset('img/Calque4.png')}}"> 
                </div>
                <div class="offset-4 col-2 bouton_client">
                    <button type="button" class="btn btn-outline-primary" id="client">Client</button>
                </div>
            {% endblock %}
        </header>
        <main>
            {% block main %}

            {% endblock %}
        </main>

        
        <footer class="row footer">
            {% block footer %}
                <div class="col-md-1 d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block" id="faq">FAQ</div>
                <div class="col-md-1 d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block" id="faq">CGV</div>
                <div class="col-md-1 d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block" id="faq">Crédits</div>
                <div class="col-md-1 d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block" id="faq">Contact</div>
                <div class="offset-sm-4 col-sm-1"><i class="fab fa-facebook-square"></i></div>
                <div class="col-sm-1"><i class="fab fa-twitter"></i></div>
                <div class="col-sm-1"><i class="fab fa-instagram"></i></div>
                <div class="col-sm-1"><i class="fab fa-google-plus-g"></i>
                </div>
            {% endblock %}
        </footer>
        


        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        {% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </body>
</html>
