<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        {% endblock %}
        <link href="{{asset('css/reset.css')}}" rel="stylesheet">
        <link href="{{asset('css/style.css')}}" rel="stylesheet">
        
    </head>
     <header>
        {% block header %}
            <nav class="navbar navbar-expand-lg navbar-light bg-dark row">
                <ul class="navbar-nav" style="width:100%">
                        <li class="nav-item col-4">
                            <a class="nav-link text-white" href="/connexion">espace coiffeur</a>
                        </li>
                        <li class="nav-item col-4" style="text-align:center">
                            <img class="mr-auto ml-auto pt-1 pb-1" src="{{asset('img/Calque4.png')}}">
                        </li>
                        <div class="navbar-nav col-4">
                            <li class="nav-item ml-auto">
                                <a class="nav-link text-white" href="/client/moncompte" >mon compte</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/connexion">espace client</a>
                            </li>
                        </div>
                </ul>
            </nav>

        {% endblock %}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer class="row footer bg-dark">
        {% block footer %}
                <div class="col-md-1 d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block" id="faq">FAQ</div>
                <div class="col-md-1 d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block" id="faq">CGV</div>
                <div class="col-md-1 d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block" id="faq">Crédits</div>
                <div class="col-md-1 d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block" id="faq">Contact</div>
                <div class="offset-sm-4 col-sm-1"><i class="fab fa-facebook-square"></i></div>
                <div class="col-sm-1"><i class="fab fa-twitter"></i></div>
                <div class="col-sm-1"><i class="fab fa-instagram"></i></div>
                <div class="col-sm-1"><i class="fab fa-google-plus-g"></i>
                </div>
        {% endblock %}
    </footer>


        {% block javascripts %}
            <!-- script jquerry -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <!-- script ajax -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <!-- script boostrap -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        {% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</html>