{% extends 'base.html.twig' %}

{% block body %}

<form action="" method="POST" >

    {{ form_widget(form2) }}
    {{ form_widget(form1) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
</form>

{% endblock %}
